# Neovim / Vim Swap Files and State
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]ss[a-v][a-z]
*.un~
Session.vim
.netrwhist

# Host Operating System
*.tmp
*.bak
*~
.DS_Store

# Private Keys and Secrets (Security)
*.pem
*.key
id_rsa*
*.env

# Windows Operating System & PowerShell
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msu
*.lnk
*ConsoleHost_history.txt

# VS Code / IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# Python / Environments & Build Artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

